@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~swiper/css';
@import '~swiper/css/navigation';
@import '~swiper/css/pagination';

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

.background-footer {
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/assets/footer-image.jpg');
}

.popup-enter {
  animation: popup-enter 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popup-enter {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


